@import "~antd/dist/antd.dark.css";

.movie {
  display: flex;
  margin: 26px 26px;
  height: 516px;
  object-fit: cover;
}

.movieDes {
  display: flex;
  margin: 26px 26px;
}

.imagen {
  object-fit: cover;
  height: 400px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
.imagen:hover {
  cursor: pointer;
  transition: box-shadow 0.3s, border-color 0.3s;
}
